{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4" style="max-width: 500px; margin: auto;">
        <div class="text-center">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="flash alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
            {% if current_user.profile_pic %}
            <img src="{{ url_for('static', filename='profile_pic/' + current_user.profile_pic) }}?v={{ cache_buster }}"  class="rounded-circle me-2" width="30" height="30">
            {% else %}
            <img src="{{ url_for('static', filename='profile_pic/avatar.jpg') }}" class="rounded-circle" width="30" height="30">
            {% endif %}
            <h4>{{ current_user.username }}</h4>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control") }}
            </div>
            <div class="d-grid">
                {{ form.submit(class="btn btn-success") }}
            </div>
            <div class="text-center mt-3">
              <a href="{{ url_for('views.chat') }}">Back</a>
              </div>
        </form>
    </div>
</div>
{% endblock %}
